$color:  rgb(78, 144, 168);
$colorRed: rgba(120, 25, 25, 0.901); 
@mixin flexCode(){
  display: flex;
  justify-content: center;
  align-items: center;
}


*{
  padding:0;
  margin: 0;
}


body{
  background: radial-gradient( white 10%, rgb(118, 232, 226) );
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
  padding-top: 60px;
  box-sizing: border-box;
}



header{
position: fixed;
top: 0;
left: 0;
right: 0;
 height: 50px;
 background: $color;
 font-size: 40px;
 margin-bottom: 10px;
 @include flexCode;
 

 .letter-b{
  color: $colorRed;
  transform: rotate(20deg);
  font-size: 50px;
 }

 .ownership{
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.411);
  color: $color;
  margin-left: 70px;
  
 }

}

.info{
  margin-left: 60px;
  font-size: 20px;
}

.screen{
  height: 350px;
  @include flexCode;
  border-top: 0.2px solid $colorRed;
  border-bottom: 0.2px solid $colorRed;
  // margin-top: 60px;
  
}

.input-section{
  @include flexCode;
  flex-direction: column;
  input{
    width: 120px;
    height: 30px;
    margin-top: 4px;
    outline: none;
  }
  input::placeholder{
    text-align: center;
  }
  input[type= Submit]{
    width: 250px;
    height: 50px;
    margin-top: 30px;
    background: rgb(78, 144, 168);
    appearance: none;
    border-style: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.492), -2px -2px 10px rgba(0, 0, 0, 0.492);
    font-size: 30px;;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-outer-spin-button{
    appearance: none;
  }


  select{
    outline: none;
    height: 30px;
    width: 130px;
    margin-top: 10px;
  }
  option{
    font-size: 10px;
    background-color: $color;
  }
}

footer{
  position: fixed;
  background-color: $color;
  bottom: 0;
  right: 0;
  left: 0;
  @include flexCode;
}

.info-container{
 position: absolute;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 background-color: rgb(118, 232, 226);
 top: -117vh;
 height: 100%;
 width: 100vw;
 padding: 20px 20px;
 box-sizing: border-box;
 transition: top 1s ease-out;
}
.show-info-container{
  top: 0;
}

.close-button{
 margin-left: 35vw;
 background-color: $colorRed;
 color: white;
 width: 70px;
 text-align: center;



}